[submodule "mod/cas"]
	path = mod/cas
	url = git@wiwi-gitlab.uni-muenster.de:learnweb/javacas.git
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/remotelearner/moodle-mod_questionnaire.git
[submodule "local/lsf_unification"]
	path = local/lsf_unification
	url = git@github.com:learnweb/his_unification
[submodule "mod/journal"]
	path = mod/journal
	url = https://github.com/dmonllao/moodle-mod_journal.git
	branch = master
[submodule "mod/ratingallocate"]
	path = mod/ratingallocate
	url = git@github.com:learnweb/moodle-mod_ratingallocate.git
[submodule "blocks/visual_library"]
	path = blocks/visual_library
	url = git@wiwi-gitlab.uni-muenster.de:learnweb/moodle-block_visual_library.git
[submodule "auth/sso"]
	path = auth/sso
	url = git@wiwi-gitlab.uni-muenster.de:learnweb/moodle-auth_sso.git
[submodule "blocks/sem_course_overview"]
	path = blocks/sem_course_overview
	url = git@wiwi-gitlab.uni-muenster.de:learnweb/moodle-block_sem_course_overview.git
[submodule "theme/essential"]
	path = theme/essential
	url = git@wiwi-gitlab.uni-muenster.de:learnweb/moodle-theme_essential.git
	branch = production3_7
[submodule "local/marketing"]
	path = local/marketing
	url = git@wiwi-gitlab.uni-muenster.de:learnweb/moodle-local_marketing.git
[submodule "report/moodleanalyst"]
	path = report/moodleanalyst
	url = git@wiwi-gitlab.uni-muenster.de:learnweb/moodle-report_moodleanalyst.git
[submodule "blocks/groups"]
	path = blocks/groups
	url = git@github.com:learnweb/moodle-block_groups.git
[submodule "auth/limitedaccess"]
	path = auth/limitedaccess
	url = git@wiwi-gitlab.uni-muenster.de:learnweb/moodle-auth_limitedaccess.git
[submodule "filter/wwwsso"]
	path = filter/wwwsso
	url = git@wiwi-gitlab.uni-muenster.de:learnweb/moodle-filter_wwwsso.git
[submodule "local/lsf_num_service"]
	path = local/lsf_num_service
	url = git@wiwi-gitlab.uni-muenster.de:learnweb/moodle-local_lsf_num_service.git
[submodule "blocks/xp"]
	path = blocks/xp
	url = https://github.com/FMCorz/moodle-block_xp.git
[submodule "availability/condition/xp"]
	path = availability/condition/xp
	url = https://github.com/FMCorz/moodle-availability_xp.git
[submodule "blocks/evasys_sync"]
	path = blocks/evasys_sync
	url = git@github.com:learnweb/moodle-block_evasys_sync.git
[submodule "mod/groupmembers"]
	path = mod/groupmembers
	url = git@github.com:learnweb/moodle-mod_groupmembers.git
[submodule "blocks/course_overview"]
	path = blocks/course_overview
	url = https://github.com/learnweb/moodle-block_course_overview.git 
	branch = learnweb
[submodule "blocks/qrcode"]
	path = blocks/qrcode
	url = git@github.com:learnweb/moodle-block_qrcode.git	
[submodule "admin/tool/opencast"]
	path = admin/tool/opencast
	url = git@github.com:unirz-tu-ilmenau/moodle-tool_opencast.git
[submodule "blocks/opencast"]
	path = blocks/opencast
	url = git@github.com:unirz-tu-ilmenau/moodle-block_opencast.git
[submodule "filter/opencast"]
	path = filter/opencast
	url = git@github.com:learnweb/moodle-filter_opencastfilter.git
[submodule "repository/opencast"]
	path = repository/opencast
	url = git@github.com:unirz-tu-ilmenau/moodle-repository_opencast.git
[submodule "admin/tool/lifecycle"]
	path = admin/tool/lifecycle
	url = git@github.com:learnweb/moodle-tool_lifecycle.git
	branch = wwu/subplugin-config
[submodule "theme/wwu2019"]
	path = theme/wwu2019
	url = git@github.com:learnweb/moodle-theme_wwu2019.git
[submodule "admin/tool/mergeusers"]
	path = admin/tool/mergeusers
	url = git@github.com:ndunand/moodle-tool_mergeusers.git
[submodule "mod/activequiz"]
	path = mod/activequiz
	url = https://github.com/jhoopes/moodle-mod_activequiz.git
[submodule "mod/scheduler"]
	path = mod/scheduler
	url = https://github.com/bostelm/moodle-mod_scheduler.git
[submodule "question/behaviour/gmatch"]
	path = question/behaviour/gmatch
	url = git@wiwi-gitlab.uni-muenster.de:learnweb/moodle-graph-match-behaviour.git
[submodule "question/type/gmatch"]
	path = question/type/gmatch
	url = git@wiwi-gitlab.uni-muenster.de:learnweb/moodle-graph-match-type.git
[submodule "blocks/ntproject_admin"]
	path = blocks/ntproject_admin
	url = git@wiwi-gitlab.uni-muenster.de:Learnweb-ntproject/moodle-block_ntproject_admin.git
[submodule "blocks/ntproject_ranking"]
	path = blocks/ntproject_ranking
	url = git@wiwi-gitlab.uni-muenster.de:Learnweb-ntproject/moodle-block_ntproject_ranking.git
[submodule "mod/ntproject"]
	path = mod/ntproject
	url = git@wiwi-gitlab.uni-muenster.de:Learnweb-ntproject/moodle-mod_ntproject.git
[submodule "mod/ntprojectassembler"]
	path = mod/ntprojectassembler
	url = git@wiwi-gitlab.uni-muenster.de:Learnweb-ntproject/moodle-mod_ntprojectassembler.git
[submodule "lib/editor/marklar"]
	path = lib/editor/marklar
	url = https://github.com/mudrd8mz/moodle-editor_marklar.git
[submodule "mod/etherpadlite"]
	path = mod/etherpadlite
	url = https://github.com/moodlehu/moodle-mod_etherpadlite.git
[submodule "mod/hvp"]
	path = mod/hvp
	url = https://github.com/h5p/h5p-moodle-plugin
	branch = stable
[submodule "course/format/topcoll"]
	path = course/format/topcoll
	url = https://github.com/gjb2048/moodle-format_topcoll.git
[submodule "mod/moodleoverflow"]
	path = mod/moodleoverflow
	url = git@github.com:learnweb/moodle-mod_moodleoverflow.git
[submodule "admin/tool/log/store/usage"]
	path = admin/tool/log/store/usage
	url = git@github.com:learnweb/moodle-logstore_usage.git
[submodule "report/usage"]
	path = report/usage
	url = git@github.com:learnweb/moodle-report_usage.git
[submodule "mod/collaborativefolders"]
	path = mod/collaborativefolders
	url = git@github.com:learnweb/moodle-mod_collaborativefolders
